/* Layout */



p {
	margin:0;
	padding:0;
}

navbox {
	margin:0 auto;
	padding: 10px;
	width:632px;
	border-left:2px solid #f0e9eb;
	border-right:2px solid #f0e9eb;
}

header {
	margin:0 1px;
}

body {
  background: #293f50;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#main-content {
	text-align:center;
	margin:2 auto;
}

#main-image {
	text-align:center;
}

#left-column {
	width:40%;
	padding:40px 20px 20px 400px;
	float:left;
}

#right-column {
	width:200px;
	padding:40px 60px 315px 10px;
	float:right;
	
}
#left-columnpro {
	width:50%;
	padding:60px 80px 0px 300px;
	float:left;
	
}
#right-columnpro {
	width:270px;
	padding:50px 0 315px 10px;
	float:right;
}

.sidebar {
	width:218px;
	margin:0 auto;
	padding:10px 25px;

}

#footer {

	border-top:1px solid #f0e9eb;
	padding:0px;
	clear:both;
	position:fixed;
	float:bottom;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: left;
}


a:visited, a:link {
	color:#a43b55;
	text-decoration:underline;
	background:none;
}

a:hover {
	color:#a43b55;
	text-decoration:none;
	background:#293f50;
}


#dochead{
	font-size:20px;
	width:100%;
	padding:30px 20px 0px 0px;
	margin:20px;
	text-align:center;
	text-decoration:underline;
	position:fixed;
}
list{
	text-indent:50px;
	list-style-type:circle;
}
h1 {
	color:#7a2e40;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 17px Georgia, serif;
	border-bottom:1px solid #efece7;
	font-weight:bold;
}

h2 {
	color:#7a2e40;
	margin:20px 0 10px;
	padding-bottom:10px;
	font:normal 17px Georgia, serif;
	border-bottom:1px solid #efece7;
}

h3 {
	color:white;
	margin:10px 0;
	padding-bottom:10px;
	font:bold 20px Arial, Helvetica, sans-serif;
	border-bottom:1px solid #efece7;
}

ul {
	padding:0;
	margin:0 0 0 17px;
}

p{
	line-height:2;
}
.box {
	background:transparent;
	padding:15px;
	text-align:left;
}
.boxpro {
	background:#f7f7f7;
	height:60%;
	border:1px solid #f0e9eb;
	padding:60px 15px 15px 15px;
	margin: 2px 0px 0px 0px;
	text-align:left;
	overflow-y:auto;
}
.boxprogallery {
	background:#f7f7f7;
	height:40%;	
	padding:15px;
	text-align:left;
	
}
.boxprojects {
	background:#f7f7f7;
	height:80%;
	font-size:15px;
	padding:15px;
	text-align:left;
	
}
.boxfav {
	background:#f7f7f7;
	border:1px solid #f0e9eb;
	padding:30px 0px 15px 15px;
	text-align:left;
}

#nav {
	background:#06a;
	padding:2px 20px;
	text-align:center;
	color:#f6dde3;
}

#nav a {
	margin: 0 10px;
}

#nav a:visited, #nav a:link {
	text-decoration:none;
	color:#f6dde3;
}

#nav a:hover {
	text-decoration:underline;
	color:#f6dde3;
}

#logo {

	position: fixed;
	padding:4px 0px 0px 0px;
	font-stretch:ultra-expanded;
	font-size:30px;
	color:#fa7393;
	text-align:center;
	margin:0px 0px 20px 0px;
	background:skyblue;
	top: 0;
    width:100%;
	height:30px;
	
}

#sidenav {
    height: 38%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
	border-radius:15px;
	margin-top:50px;
	margin-left:5px;
    background-color: #33ccff;
    overflow-x: hidden;
    padding-top: 15px;
}

#sidenav a,a:active {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

#sidenav a:hover,a:active {
    color: red;
}

address { 
    display: block;
    font-style: italic;
    padding:60px 300px;
	text-align:center;
}
.buttons{
	padding:20px;
	text-align:center!important;
}

